body {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
  width: 80%;
  font-size: 30px;
  display:inline-block;
  margin-left: 55px;
}

.container {
  width: 80%;
  margin: auto;
  margin: 40px;
  display: flex;
  padding: 9%;
}

span {
  color: hsl(277, 64%, 61%);
}

.info {
  width: 100%;
  background-color: hsl(244, 38%, 16%);
  padding: 40px 0 0 0;
}

.image {
  position: relative;
  float: right;
  width: 100%;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 80%;
  margin: auto;
  padding: 30px;
  letter-spacing: -1px;
  font-size: 18px;
}

.image-background {
  width: 95%;
  height: 99%;
  top: 0px;
  bottom: 0px;
  opacity: 0.3;
  background-color: hsl(277, 64%, 61%);
  position: absolute;
}

.companies span {
    display: block;
    padding-top: 5px;
    padding-right: 60px;
}

.stats {
    display: flex;
    width: 80%;
  margin: auto;
}

.heading {
    color: hsl(0, 0%, 100%);
  font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
}

.subheading {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}